APT::FTPArchive::Release::Origin "curtistinkers APT Repository";
APT::FTPArchive::Release::Label "Packages built and hosted by curtistinkers";
APT::FTPArchive::Release::Suite "${SUITE}";
APT::FTPArchive::Release::Codename "${SUITE}";
APT::FTPArchive::Release::Architectures "${ARCHITECTURES}";
APT::FTPArchive::Release::Components "${COMPONENTS}";
APT::FTPArchive::Release::Description "Configuration and tools for ${SUITE_PRETTY_NAME}.";
